/* Header */
.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    min-height: 75px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.wsmenucontainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.desktop-container {
    position: relative;
}

.mobile-container {
    position: relative;
}

.position-relative {
    position: relative;
}

.header .logo {
    width: 100%;
    max-width: 60px;
    height: auto;
    z-index: 1;
    -webkit-transition: All 300ms ease-in-out;
    -moz-transition: All 300ms ease-in-out;
    -ms-transition: All 300ms ease-in-out;
    -o-transition: All 300ms ease-in-out;
    transition: All 300ms ease-in-out;
    margin-left: 15px;
}

.header .logo img {
    width: 100%;
    height: auto;
}

.wsmenu {
    position: relative;
    width: auto;
    font-family: 'YekanBakh';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    background-color: transparent;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    padding: 0px;
    margin-right: 0;
}

.wsmenu-list {
    text-align: right;
}

.wsmenu-list>li {
    position: relative;
    text-align: right;
    margin-left: 10px;
}

.wsmenu-list>li:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 1.5px;
    background-color: #FFF;
    border-radius: 5px;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
}

.wsmenu-list>li:hover:after {
    width: 100%;
}

.wsmenu-list>li>a {
    position: relative;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    background: transparent;
    border-right: none;
    padding: 7px;
}

.wsmenu-list li:hover>a {
    background-color: transparent !important;
}

.wsmenu-submenu {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.wsmenu-submenu li {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.wsmenu-submenu li a {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.wsmenu-submenu-sub {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.wsmenu-submenu-sub li {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.wsmenu-submenu-sub li a {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
}

.header .profile {
    /* border-right: 2px dashed #FFFFFF;
    padding-right: 10px; */
}

.header .profile .dropdown-toggle::after {
    content: none;
}

.header .profile .dropdown-menu.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13px;
    width: 100%;
    min-width: 220px;
    background: #FFFFFF;
    border-color: #e7e7e7;
    border-radius: 8px;
    transform: translate(75px, 50px) !important;
    padding: 22px 12px;
}

.header .profile .dropdown-menu.show:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -29px;
    right: 50%;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #FFF;
    border-top: 14px solid transparent;
    transform: translate(25px, 0px);
}

.header .profile .dropdown-menu.show li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13px;
    width: 100%;
    border-radius: 4px;
    padding: 8px;
}

.header .profile .dropdown-menu.show li:hover {
    background: #F0F2F5;
}

.header .profile .dropdown-menu.show li:hover a,
.header .profile .dropdown-menu.show li:hover path {
    color: #161B25;
    fill: #161B25 !important;
}

.header .profile .dropdown-menu.show li svg {
    width: 18px;
    height: auto;
}

.header .profile .dropdown-menu.show li a {
    width: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #6F7277;
    padding: 0;
}

.header .profile .dropdown-menu.show li a:hover {
    background: transparent;
}


/* Footer */
.footer {
    background: #2d2d2d;
    padding: 20px;
}

.footer .column {
    gap: 10px;
}

.footer .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer .links li a {
    font-size: 14px;
    color: #ffffff;
}

.footer .copyright {
    font-size: 14px;
    color: #ffffff;
}


/* Responsive footer */
@media (max-width: 575.98px) {} /* container max-width: 551px; */

@media (min-width: 576px) and (max-width: 767.98px) {} /* container max-width: 540px; */

@media (min-width: 768px) and (max-width: 991.98px) {} /* container max-width: 720px; */

@media (min-width: 992px) and (max-width: 1199.98px) {} /* container max-width: 960px; */

@media (min-width: 1200px) and (max-width: 1399.98px) {} /* container max-width: 1140px; */

@media (min-width: 1400px) {} /* container max-width: 1320px; */